.aboutp{
    color: #6c757d ;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.25rem;
}
.h1{
    font-weight: bolder;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.cay{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.esas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem ;
    margin-bottom: 3rem ;
    width: 54%;
    text-align: center;
    margin-left: 20%;
}